div.col-lg-3{
    background: linear-gradient(#A7FFEB,#CCFF90);
 }
 div.col-lg-9.row{
     max-width: 100%;
 }
img{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 h4{
    background-color:#616161;
    color: #A7FFEB;
    max-width: 100%;
    text-align: center;
      
}
h1{
    color: #A7FFEB;
}
h1 span{
    color:#212121;
}
h3{
    color:#616161;
}

h2{
     color:#212121; 
}
h2 i{
     color: #A7FFEB;
 }
 div.col-hr{
     color:#A7FFEB;
 }
 span.icones{
    text-align: center;
    font-size: 30px;
    color: #616161; 
    display: block; 
    
}
i.loisirs{
    border:2px solid #616161;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
   padding-top: 2%;
}
div.row.competences{
    margin-left: 10%;
}